<h1>Stupid Coaching</h1>
<p>Ask anything to the coach</p>

<form action="/answer" method="GET">
  <label for="question">Enter your question: </label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

